*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background: #d7d7d7;
}

header{
    width: 100%;
    padding: 20px;
    background: rgb(255, 235, 197);
}

header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    color: black;
}

header h2 .fa-leaf{
    color: green;
}

header a{
    text-decoration: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 5px;
}

.fa-bars{
    display: none;
}

.fa-close{
    display: none;
}

header nav ul li a{
    color: black;
    display: block;
    padding: 5px 0;
    position: relative;
}

header nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: linear-gradient(135deg, rgb(254, 213, 99), rgb(255, 179, 0));
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s all;
    border-radius: 10px;
}

header nav ul li a:hover{
    color: rgb(168, 106, 0);
}

header nav ul li a:hover::after{
    width: 100%;
}


.hero{
    width: 90%;
    margin: 20px auto;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
}

.hero h1{
    font-size: 48px;
    color: white;
    font-weight: 900;
}

.hero p{
    color: #d7d7d7;
    max-width: 800px;
}

.hero a{
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    background: linear-gradient(135deg, rgb(254, 213, 99), rgb(255, 179, 0));
    margin-top: 10px;
    color: black;
    border-radius: 5px;
}

.introduction{
    padding: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.introduction img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.introduction a{
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    color: white;
    padding: 10px 100px;
    border-radius: 10px;
    background: #ff9d00;
}

.intro2{
    padding: 20px;
}

.intro2 span{
    color: white;
    background: linear-gradient(130deg, rgb(255, 166, 0), rgb(255, 153, 0));
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    transform: skewX(-15deg);
}

.divide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dot{
    display: block;
    width: 10px;
    height: 10px;
    margin: 4px;
    background: rgb(186, 175, 157);
    border-radius: 50%;
}

.section{
    width: 100%;
    padding: 30px;
}

.title{
    display: inline-block;
    padding: 5px 0;
    border-bottom: 2px solid rgb(6, 179, 6);
    margin-bottom: 20px;
}

.cards-container{
    margin: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 700px){

    .hero h1{
        font-size: 30px;
    }
    .cards-container{
        display: block;
    }
    .cards-container .card{
        height: 200px;
        margin: 10px 0;
    }
    .fa-bars{
        display: flex;
        width: 40px;
        height: 40px;
        border: 1px solid #ff9d00;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    .fa-close{
        display: flex;
        width: 40px;
        height: 40px;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-left: auto;
        cursor: pointer;
    }

    .sidenav{
        width: 270px;
        height: 100vh;
        background: white;
        padding: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        position: fixed;
        left: -300px;
        top: 0;
        z-index: 10;
        transition: .5s all;
    }

    .sidenav.active{
        left: 0;
    }

    .sidenav li{
        display: block;
        margin: 10px 0;
    }
    .introduction{
        display: block;
    }
    .introduction a{
        padding: 10px 85px;
    }
}

.cards-container a{
    text-decoration: none;
    color: white;
}

.cards-container .card{
    height: 250px;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    position: relative;
}

.cards-container .card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ff9d00;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
    transition: .3s all;
}

.cards-container .card:hover::before{
    transform: rotate(10deg);
}

.cards-container .ins{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/chef.png);
    background-position: center;
    background-size: cover;
}
.cards-container .mar{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/images-1.png);
    background-position: center;
    background-size: cover;
}
.cards-container .lif{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/image-2.png);
    background-position: center;
    background-size: cover;
}



/* ----------------------TRENDING SECTION-------- */
.trending-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.trending-container a{
    text-decoration: none;
}

.trending-card img{
    width: 100%;
    border-radius: 10px;
}


.trending-card strong{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #ff9d00;
}
.trending-card small{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: black;
}


/* --------------ARTICLE SECTION----------- */
.article-header {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.article-header img {
    width: 200px;
    display: block;
    margin-right: 10px;
}

.article-body{
    margin: 10px 0;
}


.read-time {
    color: #848383;
    border-radius: 5px;
    margin: 4px;
}

@media (min-width: 800px) and (max-width: 1024px) {
    .trending-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px){
    .trending-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (min-width: 411px) and (max-width: 700px){
    .article-header img {
        width: 70px;
    }
        
    .article-header h1 {
        font-size: 25px;
    }
    .share-socials{
        margin-left: auto;
    }
}

@media (max-width: 375px){
    .article-header img {
        width: 70px;
    }
    
    .article-header h1 {
        font-size: 20px;
    }
}



.share-socials{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.share-socials a{
    text-decoration: none;
}

.article-head{
    padding: 10px 0;
}

.share-socials i:not(.fa-linkedin){
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin: 4px;
}

.fa-facebook{
    background: rgb(0, 89, 255);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin: 4px;
}
.fa-twitter{
    background: rgb(0, 94, 255);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin: 4px;
}
.fa-instagram{
    background: linear-gradient(135deg, blue, rgb(253, 0, 220), red, orange, orange);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin: 4px;
}
.fa-linkedin{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: blue;
    background: white;
    margin: 4px;
}

.fa-whatsapp{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin: 4px;
    background: rgb(3, 149, 3);
}


footer{
    width: 100%;
    background: #110b00;
    padding: 30px;
}

footer h2{
    color: white;
}

footer h2 .fa-leaf{
    color: green;
}

.socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a{
    text-decoration: none;
}

.email{
    width: 100%;
    margin: 10px 0;
}

.email h4{
    color: #ff9d00;
}

.email small{
    display: block;
    max-width: 400px;
    color: #a7a5a5;
    margin: 10px 0;
}

.email-input{
    display: flex;
    align-items: center;
    width: fit-content;
    background: white;
    border-radius: 5px;
    border: 1px solid #a7a5a5;
}

.email-input:focus-within{
    border-color: #ff9d00;
}

.email-input .fa-envelope{
    padding: 4px;
    color: #a7a5a5;
}

.email-input input{
    border: none;
    font-size: 16px;
    outline: none;
}

.email-input button{
    padding: 7px;
    font-size: 16px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(135deg, rgb(254, 213, 99), rgb(255, 179, 0));
    cursor: pointer;
}

.email-input button:hover{
    background: #110b00;
    color: white;
}

.navs{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navs ul li{
    list-style: none;
    padding: 3px;
}

.navs ul li h3{
    color: #ff9d00;
}

.navs ul li a{
    text-decoration: none;
    color: #a7a5a5;
}

.navs ul li a:hover{
    text-decoration: underline;
    color: white;
}

.copyright{
    text-align: center;
    color: rgb(185, 177, 177);
}

.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transition: .5s all;
    opacity: 0;
    pointer-events: none;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}




